<div id="ceremony">
	<img src="./assets/gifs/rings.gif" style="width: 180px;"/>
	<h2>Ceremonia + Fiesta</h2>
	<h4>Alameda Eventos</h4>
	<h5>Te esperamos el</h5>
	<div class="date">
		<h3>9 NOV</h3>
		<span>|</span>
		<h3>18 HS</h3>
	</div>
	<h5>El Peregrino 274,</h5>
	<h5>Gral. Rodriguez, Buenos Aires</h5>
	<a href="https://maps.app.goo.gl/1kG7tbPdteYVjZq67" target="_blank" rel="noopener noreferrer" class="p-button">VER MAPA</a>

	<div class="mt-8 flex flex-row">
		<div class="mt-1 w-6">
			<img src="./assets/gifs/measures.gif" style="width: 180px;"/>
		</div>
		<div class="w-6">
			<img src="./assets/gifs/traje.gif" style="width: 180px;"/>
		</div>
	</div>
	<h2>Dresscode</h2>
	<h4>Elegante</h4>
</div>