.count-down-timer {
  text-align: center;
	width: 320px;
  margin: 20px auto;

  > p {
    margin: 5px 0 15px 0;
  }

  .wrapper {

    .description {
			display: grid;
      grid-template-columns: repeat(4, calc(25%));
			text-align: center;
			width: 390px;
			margin-left: -35px;
      > p {
				padding: 10px;
        margin: 0;
      }
    }

    .times {
			display: grid;
      grid-template-columns: repeat(4, 25%);
			grid-column-gap: 10px;
			margin-left: -30px;
			color: white;
      p {
        position: relative;
        margin: 0;
        font-size: 30px;
				border: #d2c5bf 2px solid;
				border-radius: 100%;
				background-color: #ded0c5;
				padding: 20px 0 20px 0;
        ::ng-deep img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 40px;
          display: block;
          height: 40px;
        }
      }


    }
  }
}

@media screen and (max-width: 430px) {
  .count-down-timer {
    margin: 20px;
  }
}
