<div id="upload-file">
	<img src="./assets/gifs/camera.gif" style="width: 180px;"/>
	<h2>Compartí fotos</h2>
	<p>Subí fotos de la fiesta al álbum!</p>
	<a target="_blank" rel="noopener noreferrer" class="p-button">SUBIR FOTOS</a>
	<a target="_blank" rel="noopener noreferrer" class="p-button">VER FOTOS</a>
	<p-fileUpload mode="basic" chooseLabel="SUBIR FOTOS" accept="image/*" (onUpload)="uploadPhoto()"></p-fileUpload>
	<input type="file" (change)="onFileSelected($event)">
  <button (click)="uploadPhoto()">Subir Foto</button>
</div>