<div id="upload-file">
	<img src="./assets/gifts/camera.gif" style="width: 180px;"/>
	<h2>Compartí fotos</h2>
	<p>Subí fotos de la fiesta al álbum!</p>
	<a href="https://maps.app.goo.gl/1kG7tbPdteYVjZq67" target="_blank" rel="noopener noreferrer" class="p-button">Subir fotos</a>
	<a href="https://maps.app.goo.gl/1kG7tbPdteYVjZq67" target="_blank" rel="noopener noreferrer" class="p-button">Ver fotos</a>
	<!-- <p-fileUpload mode="basic" chooseLabel="Choose" name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*" maxFileSize="1000000" (onUpload)="onUpload($event)"></p-fileUpload> -->
</div>