#banner {
	display: flex;
	background-image: url(../../../assets/img/banner2.jpg);
	height: 100vh;
	background-size: cover;
	background-position: 25% 10%;

	flex-direction: column;  /* <--- I added this */
  align-items: center;   /* <--- Change here */
  width: 100%;

	color: white;

	h1 {
		margin: 0;
		margin-top: 30px;
		font-size: 10vw;
		font-family: 'Arizonia', cursive;
	}

	h2 {
		font-size: 3.2vw;
		font-family: 'Outfit', sans-serif;
	}

	i {
		position: absolute;
		bottom: 10px;
	}
}

#second-banner {
	display: flex;

	flex-direction: column;
  align-items: center;
	text-align: center;
  width: 70%;
	margin: 0px auto;

	color: rgb(56, 56, 56);

	h3 {
		font-size: 4.8em;
		margin-bottom: 0px;
		font-family: 'Cookie', cursive;
	}

	p {
		font-size: 2em;
	}
}

@media only screen and (max-width: 840px) {
	#banner {
		flex-direction: column;  /* <--- I added this */
		align-items: center;   /* <--- Change here */
		justify-content: end;
		background-position: 25% 50%;

		h1 {
			font-size: 15vw;
			line-height: normal;
		}
	
		h2 {
			font-size: 7vw;
			margin-bottom: 60px;
		}
	}
}