<div id="gifts">
	<img src="./assets/gifs/gift.gif" style="width: 180px;"/>
	<h2>Regalos</h2>
	<p>Nuestro mejor regalo es que estés en nuestro día,
		pero si aún así deseas tener un detalle con nosotros te dejamos nuestros datos. 
	</p>
	<a (click)="showDialog()" class="p-button cbu-class">DATOS BANCARIOS</a>
	<p-dialog header="CBU" [(visible)]="visible" [style]="{width: '80vw'}">
		<p class="cbu">
			0070188030004021492298 <i (click)="copyCbu()" class="pi pi-copy"></i>
			<p-dialog header="Copiado!"[(visible)]="okVisible" [style]="{width: '80vw'}">
			
			</p-dialog>
			<br>
			Banco Galicia
		</p>
	</p-dialog>